/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

/* body {
    width: 5000px;
    height: 5000px;
} */




/* div {
    font-size: 30px;
    line-height: 2;
    font-style: italic;
} */


/* Local Storage Color Application Practice */

/* body {
    background-color: #eee;
}
ul {
    padding: 0;
    margin: 0;
    background-color: #ddd;
    margin: 20px auto;
    padding: 20px;
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
ul li {
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    opacity: 0.4;
    cursor: pointer;
    transition: 0.3s;
}
ul li.active,
ul li:hover {
    opacity: 1;
}
ul li:first-child {
    background-color: red;
}
ul li:nth-child(2) {
    background-color: green;
}
ul li:nth-child(3) {
    background-color: blue;
}
ul li:nth-child(4) {
    background-color: black;
}
.experiment {
    background-color: red;
    width: 600px;
    height: 300px;
    margin: 20px auto;
} */

/* .css{
    color : red;
} */

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
}
#users{
    max-width: 40rem;
}
#users li{
    background: #FFF;
    border: 1px solid #bbb;
    list-style: none;
    margin: 1rem;
    border-top-right-radius: 20px;
}
#users p{
    padding: 0.5rem 2rem;
}
#users .name{
    color: #000; 
    font-size: 2.0rem;
}
#users .info{
    background: #DDD;
    color: #666;
    font-size: 1.4rem;
} */

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}    
h1{
    margin: 2rem;
}
#container{
    margin: 2rem;
    display:flex;
    flex-flow: row wrap;
    height: 402px;
    width: 602px;
    border: 1px solid #333;
}
.hour{
    width:100px;
    height: 100px;
    padding: 10px;
    border: 1px solid #333;
    font-size: 3.6rem;
    position: relative;
}
.hour span{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: #AAA;
    font-size: 1.0rem;
    text-align: center;
}
.precip{
    background-color: hsl(200, 50%, 80%);
    color: hsl(200, 50%, 40%);
}
.hot{
    background-color: gold;
    font-weight: bold;
} */

/* h1{
    text-align: center;  
}
p.img{
    min-height: 310px;
    max-width: 600px;
    margin: 1rem auto;
    text-align: center;
    font-size: 3rem;
    color: #FFF;
    text-shadow: 2px 2px 2px #333;
    padding-top:3rem;
    background-image: url('https://picsum.photos/g/500/300?image=0&blur');
    background-color: #999;
    background-repeat: no-repeat;
    background-size: cover;
}
.img.online{
    background-image: url('https://picsum.photos/500/300?image=0');
    background-repeat: no-repeat;
    background-size: cover;
} */

/* section{
    border: 1px solid #aaa;
    padding: 1rem;
    font-family: "andale mono", sans-serif;
}
p{
    padding: 1rem;
    cursor: pointer;
    border: 2px solid #000;
}
div{
    float: left;
    overflow: auto;
    box-sizing: border-box;
    width: 50%;
    border: 1px solid #aaa;
    padding: 1rem;
    font-family: "andale mono", sans-serif;
}
.enter{
    background-color: rebeccapurple;
    color: white;
}
.over{
    background-color: #bada55;
    color: #333;
}
.blue{
    background-color: cornflowerblue;
} */

/* input{
margin: 1rem;
min-width: 80%;
max-width: 100%;
padding: 0.25rem 1rem;
}
section{
clear:both;
padding: 1rem;
margin: 1rem 0;
}
div{
float: left;
overflow: auto;
box-sizing: border-box;
width: 50%;
border: 1px solid #aaa;
padding: 1rem;
font-family: "andale mono", sans-serif;
}
.in-out{
background-color: chocolate;
color: white;
}
.focus-blur{
background-color: thistle;
color: #333;
}
.blue{
background-color: cornflowerblue;
} */

/* p{
    padding: 1rem;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: "andale mono", sans-serif;
    background-color: rebeccapurple;
    color: white;
} */

/* h1::after {
    display:block;
    content: attr(data-time);
    background-color: #bada55;
    padding: 1rem;
} */

/* Singel Page Application  */
/**** DEFAULTS ****/

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;  
    line-height: 1.6;
    font-family: sans-serif; 
}

.page{
    display: none;
    width: 100%;
    min-height: 100%; 
    position: fixed;  
    padding: 1rem 2rem;
}
.active{
    display: block; 
}
#home{
    background-color: hsl(60, 50%, 80%);
}
#list{
    background-color: hsl(180, 50%, 80%);
}
#detail{
    background-color: hsl(240, 50%, 80%);
}
h1{
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.4s;
}
.big{
    font-size: 5rem;
    font-weight: 900;
} */


/* 
html{
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
h1, p{
    padding: 1rem 2rem;
}
p:nth-of-type(1){
    cursor: pointer;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);  
    cursor: pointer;
}
.modal{
    position: fixed;
    top: 20%;
    right: 20%;
    left: 20%;
    min-height: 10rem;
    max-width: 800px;
    z-index: 200;
    background: white;
    padding: 1rem 2rem 3rem 2rem;
    box-shadow: 2px 2px 2px rgb(0,0,0);
    transition: transform 1s;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.off{
    transform: translateY(-200%);
}
.on{
    transform: translateY(0);
}
.close-btn{
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    border: none;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    padding: 0.25rem 2rem;
    font-size: 1rem;
} */

/* Slide Show */
/* html{
    font-size: 20px;
    line-height: 1.6;
    font-family: sans-serif;
}
body>h1{
    padding: 1rem 2rem;
}
main{
    padding: 1rem 2rem;
}
.slideshow{
    background-color: #eee;
    width: 100%;
    height: 12rem;
    position: relative;
    padding: 1rem;
}
.slideshow .content{
    width: 100%;
}
.slideshow-item{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 4rem;
    
    transition: all 0.5s;
    transform: translateX(100%);
    z-index: 10;
    opacity: 0;
}
.current{
    transform: translateX(0);
    z-index: 20;
    opacity: 1;
}
.leaving{
    transform: translateX(-100%);
    opacity: 0;
}

.slideshow-item:nth-child(1){
    background-color: hsl(60, 40%, 80%);
}
.slideshow-item:nth-child(2){
    background-color: hsl(120, 40%, 80%);
}
.slideshow-item:nth-child(3){
    background-color: hsl(180, 40%, 80%);
}
.slideshow-item:nth-child(4){
    background-color: hsl(240, 40%, 80%);
}
.slideshow-item:nth-child(5){
    background-color: hsl(300, 40%, 80%);
}
.slideshow-item:nth-child(6){
    background-color: hsl(360, 40%, 80%);
}
.slideshow img{
    float:left;
    margin: 0 1rem 0 0;
}
.slideshow h1{
    font-size: 3rem;
    line-height: 4rem;
}
.slideshow p{
    font-size: 1rem;
    line-height: 1.5;
    height: 4.5rem;
    overflow: hidden;
} */

/* 
html{
    font:normal 20px/1.5 sans-serif;
}
h1{
    margin: 1rem 2rem;
}
form{
    margin: 2rem;
    width: 800px;
}
.form-box{
    padding: 1rem;
    clear: both;
    width: 100%;
    position: relative;
}
.form-box label{
    font-size: 1rem;
    float: left;
    width: 100px;
    margin-right: 20px;
}
.form-box input{
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}
.form-box select{
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}
.form-box option{
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}
.form-box input[type="checkbox"]{
    font-size: 1rem;
}
.form-box button{
    font-size: 1rem;
    border: none;
    padding: 0.25rem 2rem;
    margin-right: 1rem;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
}

.error::after{
    background-color: hsl(10, 60%, 50%);
    color: papayawhip;
    font-size: 1rem;
    line-height: 1.8;
    width: 350px;
    padding-left: 1rem;
    position:absolute;
    right: 0;
    content: attr(data-errormsg);
}
 */

/* section{
    width: 400px;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: 1px solid #aaa;
    font: 1rem/1.5 sans-serif;
}
h1{
    padding: 1rem;
    border-bottom: 0.5rem solid #aaa;
    letter-spacing: 3px;
}

[lang]{
    unicode-bidi: bidi-override;
    direction:ltr;
}
[lang="ar"]{
    direction: rtl;
} */

/* .temp{
    background-color: cornflowerblue;
    color: #fff;
}
.box{
    border: 1px solid #bbb;
    padding: 1rem;
    max-width: 400px;
} */

/* html{
    font: 500 20px/1.5 'Open Sans', 'Gill Sans', Verdana, sans-serif;
}
header{
    padding: 1rem 2rem 0.5rem;
    border-bottom: 1rem solid #779;
    background-color: #dde;
}
main{
    padding: 2rem 2rem 1rem;
    font-size: 1rem;
}
h1{
    font-size: 3rem;
    font-family: Palatino, Garamond, serif;
}
h2{
    font-size: 2rem;
    font-family: Palatino, Garamond, serif;
}

.tab-nav{
    border-bottom: 1px solid #779;
}
.tab-menu{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.2rem;
}
.tab{
    list-style: none;
    font-size: 1.2rem;
    padding: 0 2rem 0.2rem;
}
.tab.active,
.tab:hover{
    color: rebeccapurple;
    padding-bottom: 0;
    border-bottom: 0.2rem solid rebeccapurple;
}

.tab-content{
    display: none;
}
.tab-content.active{
    display:block;
} */

/* html{
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.6;
    background-color: white;
}
main{
    display: flex;
    justify-content: space-around;
}
.page{
    display: block;
    padding: 1rem;
    margin: 1rem;
    background-color: #dedede;
}
h1{
    padding:0.5rem 2rem;
}
#detail h1{
    cursor: pointer;
}
.person{
    list-style: none;
    border-top: 1px solid #999;
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.person:hover,
.person.active{
    background-color: aliceblue;
}
.person:last-child{
    border-bottom: 1px solid #999;
}

.details{
    list-style: none;
    padding: 0.2rem 1rem 1.2rem 1rem;
    margin: 0.5rem 1rem 0.8rem;
}
.lastAccess{
    color:lightskyblue;
}
.avatar{
    
}
.name{
    
}
.isMobile{
    
} */

/* .first{
    font-size: 0.7rem;
    font-family: sans-serif;
}
.second{
    font-family: monospace;
    font-weight: 700;
}
.second::before{
    content: attr(data-sample) " " "\0026" " ";
    color: red;
    font-variant: small-caps;
}
.third{
    color: #fff;
    background-color: rebeccapurple;
} */

/* html{
    font-size: 20px;
    line-height: 1.5;
    font-family: sans-serif;
}
header{
    min-height: 5rem;
    border-bottom:1px solid #333;
    position: fixed;
    width: 100%;
    background-color: #e4e4e4;
    top:0;
    left:0;
    right:0;
}
header>h1{
    min-height: 4rem;
    line-height: 4rem;
    font-size: 3rem;
    text-align: center;
}
header>.bar{
    height:0.2rem;
    margin-top: 0.8rem;
    padding:0 0 0 0;
    width: 0;
    background-color:cornflowerblue;
    outline: 2px solid rgba(0, 50, 70, 0.2);
}
main{
    min-height: 100vh;
    margin-top: 6rem;
    padding: 2rem 1rem;
} */

/* body{
    min-height: 100vh;
} */

/* section{
    position:relative;
}
#main .chart{
    width:0;
    height:0;
    position: relative;
    border: 100px solid cornflowerblue;
    border-radius: 50%;
}
#main .cover-under50{
    position:absolute;
    z-index: 10;
    border: 20px solid rgba(199,199,199,0.8);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    left:-100px;
    top:-100px;
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    transform: rotate(180deg); 
}
#main .cover-over50{
    position:absolute;
    z-index: 30;
    border: 20px solid rgba(199,199,199,0.8);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    left:-100px;
    top:-100px;
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    transform: rotate(0deg);
}
#main .fill-over50{
    position:absolute;
    z-index: 20;
    border: 20px solid cornflowerblue;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    left:-100px;
    top:-100px;
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    transform: rotate(0deg);
}
#main .info{
    width: 160px;
    height: 160px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    z-index: 60;
    font-size: 3rem;
    line-height: 10rem;
    font-family: sans-serif;
    text-align: center;
    top: -80px;
    left: -80px;
}
#main .info::after{
    content: '%';
}


#alt{
    margin-top: 4rem;
}
#alt .chart{
    width:0;
    height:0;
    position: relative;
    border: 100px solid cornflowerblue;
    border-radius: 50%;
}
#alt .cover-under50{
    position:absolute;
    z-index: 10;
    border: 20px solid #999;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    top: 0;
    left: 200px;
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    transform: rotate(-180deg); 
}
#alt .cover-over50{
    position:absolute;
    z-index: 30;
    border: 20px solid #999;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    top: 0;
    left: 400px;
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    transform: rotate(0deg);
}
#alt .fill-over50{
    position:absolute;
    z-index: 20;
    border: 20px solid cornflowerblue;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    top: 0;
    left: 600px;
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    transform: rotate(0deg); 
} */

/* .rate {
    margin:20px auto;
    width: 300px;
}
.rate .filled {
    color: #ffc107;
}
.rate i {
    cursor: pointer;
} */

/* .star{
    color: goldenrod;
    font-size: 2.0rem;
    padding: 0 1rem; 
}
.star::before{
content: '\2606';   
cursor: pointer;
}
.star.rated::before{
content: '\2605'; 
}

.stars{
    counter-reset: rateme 0;   
    font-size: 2.0rem;
    font-weight: 900;
}
.star.rated{
    counter-increment: rateme 1;
}
.stars::after{
    content: counter(rateme) '/5';
} */

/* html{
    font-size: 10px;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
                "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
                "Droid Sans", "Helvetica Neue", sans-serif;
}
body{
    padding: 1rem 2rem;
}
.list-view{
    list-style: none;
}
.list-item{
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 100;
    padding: 1.5rem 1rem;
}
.list-item span{
    font-weight: 500;
} */

/* *{
    padding: 0;
    margin: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html{
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.5;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    box-sizing: border-box;
}
body{
    padding: 1rem;
    height: 100vh;
}
h1, h2, p, div{
    padding: 1rem 2rem;
}
#box{
    border: 1px solid #999;
}
.menu{
    width: 12rem;
    height: 4.5rem;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 2px #999;
    border-radius: 0.2rem;
    list-style: none;
    position: fixed;
}
.menu.off{
    top: -200%;
    left: -200%;
}
.menu-item{
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 100;
    padding: 0 1rem;
    cursor: pointer;
}
.menu-item:hover,
.menu-item:active{
    color: #000;
    font-weight: 500;
} */

/* main{
    padding : 2 rem;
}
p {
    padding : 0.5 rem 0
}
@media (max-width : 600px){
    p{
        color : blue;
        font-size: 1 rem;
    }
}
@media (min-width : 601px){
    p{
        color : green;
        font-size: 2 rem;
    }
} */

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
font-size: 20px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 300;
line-height: 1.7;
}
.container {
border: 1px solid #333;
background-color: pink;
padding: 1rem;
margin: 1rem;
display: flex;
flex-direction: column;
justify-content: stretch;
align-items: stretch;
}
.container section {
flex-basis: 100%;
padding: 1rem;
margin: 1rem;
}
.one {
background-color: cornflowerblue;
color: white;
}
.two {
background-color: rebeccapurple;
color: white;
}

.container.big {
flex-direction: row;
}
.container.big .one {
background-color: rebeccapurple;
}
.container.big .two {
background-color: cornflowerblue;
}
.big img {
width: 100%;
} */

/* .container {
    margin: 150px;
}
.container p {
color: #777;
font-size: 1.6rem;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
line-height: 1.6;
padding: 1rem;
border: 1px solid #eee;
margin: 1rem 0;
transform: translateX(-100%);
transition: transform 0.5s linear;
}
.container p.active {
opacity: 1;
transform: translateX(0);
}
.container p:nth-child(5n) {
color: cornflowerblue;
}
.cover {
position: fixed;
top: 250px;
right: 50px;
bottom: 250px;
left: 50px;
background-color: hsla(30deg, 40%, 80%, 0.5);
} */

/* h1{
    cursor: pointer;
    padding: 1rem;
    font-size: 4rem;
}
#output{
    font-size: 3rem;
    padding: 1rem;
} */

/* p{
    overflow: hidden;
    width:90%;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ddd;
    background-color: hsl(220, 50%, 80%);
    color: hsl(220, 50%, 30%);
    font-size: 1.0rem;
    line-height: 1.5rem;
    height: 8rem;
    position: relative;
    
    transition: width 0.6s ease-in;
    
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
p:hover{
    width: 40%;
}
@keyframes glow{
    0%{
        border: 0px solid gold;
    }
    50%{
        border: 4px solid gold;
    }
    100%{
        border: 1px solid gold;
    }
}
p::after{
    display: block;
    position: absolute;
    content: " ";
    right: 0;
    left: 0;
    bottom: 0;
    height: 1rem;
    background-color: hsla(220, 50%, 80%, 0.64);
} */

/* .control{
    font-size: 1.5rem;
    padding: 0.25rem 2rem;
    min-width: 10rem;
    margin: 0.5rem 0;
    cursor: pointer;
}
::cue{
    font-size: 20px;
    color: yellow;
    background-color:grey;
}
::cue(b){
    text-transform: uppercase;
    color: red;
} */

/* h1{
    cursor: pointer;
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: hsla(90, 30%, 70%, 0.5);
}
main{
    transition: transform 1s ease-in;
    position: relative;
    z-index: -1;
}
main.up{
    transform: translateY(-600px);
}
p::before{
    content: attr(data-num);
    
    font-size: 2.6rem;
    line-height: 3rem;
    height: 3rem;
    width: 3rem;
    text-align: center;
    margin-right: 1rem;
    display: inline-block;
    transform: rotate(-20deg);
    background-color: #666;
    color: #eee;
    border-radius: 50%;
}
p:nth-child(odd)::before{
    transform: rotate(20deg);
} */

/* p{
    font-size: 1.5rem;
    cursor: pointer;
}
p::after{
    display: inline-block;
    content: attr(data-file);
    
    font-size: 1.5rem;
    margin-left: 1rem;
    color: rgba(0,0,0,0.5);
} */

/* :root{
    --COLOR: cornflowerblue;
    --SPACE: 10px;
}
h1{
    color: var(--COLOR);
    border-bottom: var(--SPACE) solid var(--COLOR);
}
p{
    color: var(--COLOR);
} */

/* h2{
    cursor: pointer;
}
h2:hover{
    color: #bada55;
} */

/* p>audio,
p>video,
p>img{
    max-width:90%;
} */

/* a{
    font-size: 1rem;
    padding: 0.2rem 1rem;
}
a.current{
    color:white;
    background-color: #bada55;
    text-shadow: 1px 1px 1px #333;
    font-weight: 900;
    text-decoration: none;
}
p{
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
}
:target{
    background-color: #bada55;
} */

/* *{ 
    padding: 0; 
    margin: 0; 
}
html {
    box-sizing: border-box;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif; 
    font-size: calc(1.5vh + 1vw + 1%); 
    line-height: 1.5; 
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body{ 
    overflow: auto; 
    min-height: 100vh; 
    width: 100%; 
}

main, header{
    padding: 1rem 2rem;
}
p{
    padding: 0.5rem 0;
}
main{
    border-top: 5px solid #bada55;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-width: 600px;
}
#products{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    
    flex:1 1 auto;
}
#cart{
    flex: 1 1 20%;
}
.card{
    border: 1px solid #999;
    padding: 1rem;
    box-sizing: content-box;
    max-width: 200px;
    position: relative;
}
.card img{
    width: 100%;
    filter: contrast(0.3);
}
.card .price{
    position: absolute;
    top: 3rem;
    left: 2rem;
    transform: rotate(30deg);
    text-shadow: 2px 2px 2px #333, 1px 1px 2px #eee;
    color: #bada55;
    font-weight: 700;
    font-size: 1.5rem;
}
.card h2{
    font-size: 1.2rem;
}
.card p{
    font-size: 0.8rem;
}
.card .btn{
    border: 2px solid cornflowerblue;
    padding: 0.25rem 1rem;
    color: cornflowerblue;
    cursor: pointer;
}

.cart-item{
    border-bottom: 1px solid #666;
    padding:1rem;
    width: 100%;
    position: relative;
}
.cart-item .price{
    position: absolute;
    top: 2rem;
    bottom: 1rem;
    right: 1rem;
    width: 30%;
    font-size: 0.8rem;
    color: #AAA;
    transform: rotate(30deg);
}
.cart-item .title{
    font-size: 1rem;
    color: #999;
    line-height: 1.5rem;
    height: 1.5rem;
    width: 70%;
}
.cart-item .controls{
    height: 1.5rem;
    cursor: pointer;
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
}
.cart-item span:nth-child(1),
.cart-item span:nth-child(3){
    border: 1px solid cornflowerblue;
    color: cornflowerblue;
    background: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
    display: block;
} */
/* .big{
    background-color: #bada55;
    color: white;
} */
/* 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#canvas{
    border: 1px solid #999;
    margin: 1rem auto;
    display: block; 
} */

/* @import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
        
#canvas{
    border: 1px solid #999;
    margin: 1rem auto;
    display: block;
}
p{
    margin: 1rem auto;
    text-align: center;
}
input{
    width: 600px;
    font-size: 2rem;
    padding: 0.2rem 1rem;
    box-sizing: border-box;
} */
/* #canvas{
    border: 1px solid #999;
    margin: 1rem auto;
    display: block;
} */
/* #canvas{
    border: 1px solid #999;
    margin: 1rem auto;
    display: block;
}
img{
    width: 80%;
} */
/* canvas{
    border: 2px solid #333;
    margin: 2rem auto;
    
} */
/* html{
    background-color: #999;
}
#canvas{
    background-color: #fff;
    border: 1px solid #333;
    width: 70%;
    margin: 1rem auto;
    display: block;
} */
/* video{
    border: 4px solid cornflowerblue;   
}
canvas{
    border: 4px solid gold;
}
img{
    border: 4px solid red;
}
section{
    padding: 1rem;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
} */
/* body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}  

canvas {
border: 3px solid #333;
width: 90%;
height: auto;
} */

/* * {
    box-sizing: border-box;
}
html {
font-size: 20px;
font-weight: 300;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
line-height: 1.5;
}
.grid {
border: 1px solid #333;
width: 402px;
height: 402px;
display: flex;
flex-wrap: wrap;
}
.pixel {
width: 100px;
height: 100px;
border: 1px solid #111;
position: relative;
padding: 20px 5px;
}
.pixel::before {
position: absolute;
top: 5px;
left: 5px;
content: '(' attr(data-coord) ')';
}
.pixel:hover {
outline: 2px solid orangered;
}
.highlight {
background-color: gold;
} */

/* *,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 20px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}
body {
    min-height: 100vh;
    background-color: #222;
    color: #eee;
}
header,
main,
footer {
    background-color: #333;
    width: 90vw;
    min-height: 100vh;
    padding: 1rem 2rem;
    margin: 0 auto;
}
header h1 {
    color: orange;
}
header h2 {
    color: orangered;
}
p {
    line-height: 1.7;
    margin: 1.5rem 0;
}

main p canvas {
    border: 1px solid white;
}
.box {
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
    display: inline-block;
    position: relative;
    margin: 5px;
}
.box::before {
    color: #fff;
    font-size: 0.8rem;
    content: attr(data-label);
    position: absolute;
    width: 150px;
    top: 5px;
    left: 5px;
}
.box::after {
    color: #fff;
    font-size: 0.8rem;
    content: attr(data-color);
    position: absolute;
    width: 150px;
    bottom: 5px;
    left: 5px;
} */

/* .formBox{
    padding: 0.5rem 2rem;
} */

/* button {
    font-size: 30px;
    padding: 0.25 2rem;
    margin: 1rem;
    width: 10rem;
    cursor: pointer;
}

[lang="en-CA"] {
    border: 5px solid #dd0000;
    margin: 1rem;
}

[lang="fr-CA"] {
    border: 5px solid limegreen;
    margin: 1rem;
}

[lang="de"] {
    border: 5px solid gold;
    margin: 1rem;
}

div[lang] {
    display: none;
}

div[lang].lang-match {
    display: block;
} */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#map {
    border: 2px solid #333;
    width: 80vw;
    height: 80vh;
} */
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#map {
    border: 2px solid #333;
    width: 80vw;
    height: 80vh;
} */

/* html {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    padding: 1rem;
    margin: 3rem;
    border: 1px solid #333;
} */

/* html {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(0, 40%, 80%);
}

body {
    background-color: hsl(60, 40%, 80%);
    padding: 1rem;
}

main {
    background-color: hsl(120, 40%, 80%);
    padding: 1rem;
}

p {
    background-color: hsl(180, 40%, 80%);
    padding: 1rem;
    line-height: 1.6;
}

span {
    padding: 0rem 1rem;
    background-color: hsl(240, 40%, 80%);
} */
/* html {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
}

main {
    border: 1px solid cornflowerblue;
    padding: 1rem;
} */
/* html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 1.7;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#output {
    padding: 2rem;
    border: 1px solid #333;
    font-size: 2rem;
    margin: 1rem;
}

button {
    font-size: 2rem;
    margin: 1rem;
} */


/* * {
    margin: 0;
    box-sizing: border-box;
}
html {
font-size: 20px;
line-height: 1.6;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
min-height: 100vh;
} */

/* html {
    font-size: 20px;
    line-height: 1.6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
margin: 1rem 3rem 3rem 3rem;
}
header h1 {
font-size: 3rem;
line-height: 1.2;
font-weight: 300;
color: #999;
}
header h2 {
font-size: 1.5rem;
line-height: 1.2;
font-weight: 300;
color: cornflowerblue;
}
main {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 1rem;
width: 80vw;
margin: 3rem 3rem;
grid-template-rows: auto;
}
main figure {
}
main figcaption {
font-size: 1rem;
font-family: inherit;
}
main img {
width: 100%;
height: auto;
max-width: 100%;
}
footer {
background-color: #aaa;
color: #333;
font-size: 1rem;
font-weight: 300;
padding: 1rem 3rem 3rem 3rem;
margin-top: 0;
} */

/* html {
    font-size: 20px;
    line-height: 1.6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main.content {
margin: 3rem;
}
p.para {
font-size: 1rem;
font-weight: 300;
padding: 1rem;
}
.para span {
font-weight: 700;
cursor: pointer;
text-transform: uppercase;
}
#first {
background-color: hsl(280deg, 40%, 80%);
}
#second {
background-color: hsl(140deg, 40%, 80%);
}
.active {
background-color: goldenrod !important;
}
 */

/* .svg{
    border: 2px solid black;
} */

/* .dot{
    background-color: red;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

#top-half{
    background-color: black;
    height: 100vh;
    width: 100%;
    touch-action: none;
}

body{
    margin: 0;
} */

/* :root{
    --handle-position : 30%;
}
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    margin : 0;
    touch-action: none;
}

.video{
    width: 100%;
    height: 500px;
    background-color: #333;
    display: flex;
    align-items: flex-end;
}

.timeline{
    height: 20px;
    width:100% ;
    background-color: #777;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.timeline::before{
    content: "";
    position: absolute;
    height: 100%;
    width: var(--handle-position);
    background-color: red;
    border-radius:0  100px 100px 0;
}

.handle{
    position: relative;
    left: var(--handle-position);
    transform: translateX(-100%);
    background-color: red;
    height: 200%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.dot{
    position: absolute;
    background-color: red;
    transform: translate(-50%, -50%);
    border-radius: 50%;
} */

/* div {
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbe;
    touch-action: none;
} */

/* .container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    pointer-events: none;
}

.child{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

.grand{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: blue;
    pointer-events: none;
} */


/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    touch-action: none;
}

#pass{
    width: 100%;
    height: 100vh;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 100px;
}

#pass > div{
    flex-basis: 100px;
    background-color: #777;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
}

#lock{
    position: absolute;
    height: 100vh;
    background-color: #777;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#slide{
    position: relative;
    color: black;
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 50px;
    font-size: 2rem;
}

#btn{
    position: absolute;
    left: 0;
    top: 0;
    height: 70px;
    width: 70px;
    background-color: #777;
    border-radius: 50%;
} */

/* main,
header {
    padding: 1rem;
    margin: 1rem;
}
body.clicked {
    background-color: cornflowerblue;
}
main.clicked,
header.clicked {
    background-color: crimson;
}
p.clicked,
h1.clicked {
    background-color: lemonchiffon;
} */

/* p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    line-height: 1.7;
    color: #9933cc;
} */

/* header, main{
    padding: 2rem;
}

p{
    padding: 0.5rem 0;
}

@media (max-width :600px){
    p{
        color: #bada55;
    }
}
@media(min-width: 601px){
    p{
        color: rebeccapurple;
        font-size: 2rem;
    }
} */

/* html {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.6;
}
.header {
background-color: hsl(220, 50%, 40%);
color: #fff;
position: relative;
z-index: 100;
box-shadow: 0 2px 4px #333;
}
.header h1 {
font-size: 2rem;
line-height: 1;
padding: 0.5rem 1rem;
margin: 0;
}
main {
padding: 2rem;
}
main h2 {
margin: 0;
}
p {
color: #555;
padding: 0;
margin: 2rem 0;
}

.main-nav {
display: none;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
background-color: hsl(30, 30%, 90%);
}
.expanded .main-nav {
display: flex;
}
.main-nav a {
color: #333;
flex-basis: 25%;
text-align: center;
width: 100%;
padding: 2rem 0;
font-size: 1.2rem;
line-height: 1;
}

.burger {
position: absolute;
top: 26px;
right: 20px;
height: 4px;
line-height: 0;
width: 44px;
background-color: white;
border: 0;
border-radius: 1px;
padding: 0;
margin: 0;
cursor: pointer;
transition: all 0.3s linear;
}
.burger:active {
outline: 0;
}
.burger::before,
.burger::after {
content: "";
display: block;
position: absolute;
left: 0;
width: 40px;
height: 0;
border: 2px solid white;
border-radius: 1px;
padding: 0;
margin: 0;
transition: all 0.3s linear;
}
.burger::before {
top: 0;
transform-origin: left center;
transform: translate(0, -16px) rotate(0deg);
}
.burger::after {
bottom: 0px;
transform-origin: right center;
transform: translate(0, 16px) rotate(0deg);
}
.expanded .burger {
background-color: transparent;
border-radius: 4px;
}
.expanded .burger::before {
transform: translate(6px, 16px) rotate(-45deg);
border-radius: 4px;
}
.expanded .burger::after {
transform: translate(-6px, 16px) rotate(45deg);
border-radius: 4px;
}

@media(min-width: 700px){
} */

/* html {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
button {
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-weight: 100;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
}
label {
    display: block;
    padding: 1rem 1rem 0.5rem 1rem;
}
textarea {
    border: 1px solid #ccc;
    width: 80%;
    height: 6rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
} */

/* *{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
font-size: 20px;
line-height: 1.7;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section{
min-height: 200px;
width: 100%;
border: 1px solid #ccc;
padding: 2rem;
font-size: 1.6rem;
}
p{
padding: 0.5rem 1rem;
}
pre{
color: #fff;
}
#scroll-to{
background-color: hsl(270, 50%, 40%);
color: hsl(270, 50%, 10%);
}
#scroll-by{
background-color: hsl(20, 50%, 40%);
color: hsl(20, 50%, 10%);
}
#scroll-into-view{
background-color: hsl(100, 50%, 40%);
color: hsl(100, 50%, 10%);
}
#scroll-to-options{
background-color: hsl(220, 50%, 40%);
color: hsl(220, 50%, 10%);
} */

/* * {
    padding: 0;
    margin: 0;
    font-weight: 100;
    box-sizing: border-box;
}
html {
font-size: 20px;
line-height: 1.7;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
margin-top: 6rem;
}

header {
width: 100vw;
position: fixed;
top: 0;
height: 6rem;
display: flex;
flex-direction: row;
justify-content: space-evenly;
background-color: cornflowerblue;
color: white;
transition: all 0.4s linear;
}
header h1 {
font-size: 2rem;
padding: 1rem 1rem;
line-height: 1;
font-weight: 700;
text-shadow: 1px 1px 2px #333;
transition: all 0.4s linear;
}
header nav {
display: flex;
flex-direction: row;
justify-content: flex-end;
}
nav a,
nav a:visited {
font-size: 1.5rem;
padding: 1rem 1rem;
line-height: 1;
color: white;
transition: all 0.4s linear;
}
nav a:hover,
nav a:active,
nav a:focus {
color: #333;
}

.up header {
height: 2.5rem;
}
.up header h1 {
font-size: 1rem;
padding: 0.25rem 1rem;
}
.up nav a {
font-size: 1rem;
padding: 0.5rem 1rem;
}


main {
padding: 2rem 2rem;
}
main h2,
main h3 {
font-weight: 500;
}
main p {
margin: 1rem 0;
} */

/* html {
    font-size: 20px;
    font-family: 'Monserrat', sans-serif;
    line-height: 1.7;
}
h1,
h2 {
    font-weight: 300;
}
.para {
    padding: 0 2rem;
    margin: 1rem 0;
    font-weight: 100;
}
.para span {
    font-weight: 600;
} */

/* html {
    font-size: 20px;
    font-family: 'Monserrat', sans-serif;
    line-height: 1.7;
}
h1 {
font-weight: 300;
}
form {
padding: 0 2rem;
margin: 1rem 0;
font-weight: 100;
}
.formBox {
display: flex;
flex-direction: row;
margin: 1rem;
}
.formBox label {
flex-basis: 20ch;
text-align: end;
padding-right: 2rem;
padding-inline-end: 2rem;
font-size: 0.8rem;
font-weight: 100;
color: #444;
}
.formBox input {
flex-basis: auto;
font-size: 1rem;
font-weight: 100;
color: #333;
position: relative;
padding: 0.25rem 1rem;
}
.formBox button {
background-color: #4caf50;
border: none;
color: #fff;
padding: 0.25rem 2rem;
text-align: center;
font-size: 1rem;
font-weight: 100;
flex-basis: auto;
margin-left: 20ch;
margin-inline-start: 20ch;
}
legend {
margin: 0 4rem;
padding: 0 1rem;
color: #4caf50;
} */

/* figure img {
        max-width: 300px;
        height: auto;
} */

/* :root {
    --dark-bg: #333;
    --dark-color: #eee;
    --light-bg: #eee;
    --light-color: #333;
}
html {
font-size: 20px;
font-weight: 100;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
line-height: 1.7;
}
html,
body {
background-color: #333;
color: #eee;
}
@media screen and (prefers-color-scheme: dark) {
html,
body {
    background-color: var(--dark-bg);
    color: var(--dark-color);
}
}
@media screen and (prefers-color-scheme: light) {
html,
body {
    background-color: var(--light-bg);
    color: var(--light-color);
}
}

h2 {
font-weight: 100;
letter-spacing: 1ch;
} */

/* html {
    font-size: 20px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    touch-action: none;
}

header {
margin-bottom: 2rem;
}
section {
padding: 3rem;
}
button {
background-color: white;
color: white;
border: 1px solid #333;
border-radius: 50%;
font-size: 1rem;
line-height: 30px;
height: 40px;
width: 40px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
transition: all 0.4s linear;
outline: none;
}
button:active {
border-color: crimson;
}
.top,
.right,
.bottom,
.left {
position: absolute;
top: 0;
left: 0;
transform: translateX(0, 0);
opacity: 0.1;
}
.top.go {
transform: translate(0, -42px);
opacity: 1;
}
.right.go {
transform: translate(40px, 0);
opacity: 1;
}
.bottom.go {
transform: translate(0, 40px);
opacity: 1;
}
.left.go {
transform: translate(-42px, 0);
opacity: 1;
} */

/* p span {
    font-style: italic;
    font-weight: 100;
}
[contenteditable] span {
color: red;
} */

/* html {
    font-size: 20px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
padding: 1rem;
margin: 1rem 0;
}
p {
margin: 1rem;
padding: 1rem;
border: 1px solid #999;
}
#box {
background-color: cornflowerblue;
width: 1rem;
height: 1rem;
} */

/* * {
box-sizing: border-box;
}
html {
font-size: 20px;
font-weight: 400;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
line-height: 1.7;
}
p:hover {
background-color: blanchedalmond;
cursor: pointer;
} */

/* iframe {
    border: 1px solid red;
}
button {
margin: 1rem;
} */

/* *,
*::after,
*::before {
padding: 0;
margin: 0;
box-sizing: border-box;
}
html {
font-size: 20px;
line-height: 1.6;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
margin: 2rem auto;
}
h1 {
padding: 0rem 2rem;
color: #333;
font-family: 'Raleway', sans-serif;
}

form {
margin: 2rem auto;
padding: 1rem;
}
.formBox {
display: grid;
grid-template-columns: 1fr 3fr;
gap: 1rem;
margin: 2rem 0;
}
label {
font-size: 1rem;
padding: 0.2rem 0;
font-weight: 300;
color: #777;
text-align: right;
}
select,
input,
button,
option,
optgroup,
textarea {
font-size: 1rem;
font-weight: 500;
color: #555;
padding: 0.2rem 0.5rem;
margin: 0 1rem 0 0;
}
optgroup {
color: #999;
font-weight: 200;
padding-left: 0.2rem;
}
.buttons button {
grid-column-start: 2;
grid-column-end: 3;
background-color: #333;
color: #eee;
} */

/* *,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}
body {
    min-height: 100vh;
    background-color: #333;
    color: #ddd;
}
header {
    min-height: 20vh;
    padding: 2rem;
    border-bottom: 3px solid #ddd;
}
a.show {
    font-size: 2rem;
    cursor: pointer;
    text-decoration: underline;
    color: orange;
    text-transform: capitalize;
    text-transform: capitalize !important;
    margin: 0 1rem;
}
a.show.active {
    text-decoration: underline overline;
    color: gold;
}
main {
    min-height: 35vh;
    padding: 2rem;
}
footer {
    border-top: 3px solid #ddd;
    min-height: 20vh;
    padding: 2rem;
}
span.char {
    font-size: 2rem;
    text-transform: capitalize;
    color: cornflowerblue;
    margin: 0 1rem;
}
label,
input {
    font-size: 1.2rem;
}
main > p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
}
main > p:last-of-type {
    padding-left: calc(3rem + 15ch);
}
label {
    flex: 15ch 0 0;
    padding: 0.2rem 1rem;
}
input {
    flex: 40ch 0 0;
    padding: 0.2rem 1rem;
}
button {
    font-size: 1.2rem;
    background-color: cornflowerblue;
    color: white;
    padding: 0.2rem 1rem;
    cursor: pointer;
} */

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
font-size: 16px;
font-weight: 300;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
line-height: 1.5;
color: #eee;
background-color: #333;
}
body {
background-color: #333;
min-height: 100vh;
}
header {
padding: 1rem 2rem;
}
h1 {
color: orange;
}
h2 {
color: orangered;
}
form > p {
padding: 1rem 2rem;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
box-sizing: border-box;
}
label {
font-size: 1rem;
flex-basis: 30%;
padding: 0.25rem 1px;
text-align: start;
}
input {
font-size: 1rem;
flex-basis: 100%;
width: calc(100% - 2px);
padding: 0.25rem 1rem;
}
select,
option {
font-size: 1rem;
flex-basis: 100%;
width: calc(100% - 2px);
padding: 0.25rem 1rem;
}
button {
border: none;
background-color: cornflowerblue;
color: #fff;
flex-basis: 100%;
width: calc(100% - 2px);
padding: 0.5rem 1rem;
font-size: 1.5rem;
}
button:focus {
background-color: lemonchiffon;
} */

