*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    width: 5000px;
    height: 5000px;
} */




/* div {
    font-size: 30px;
    line-height: 2;
    font-style: italic;
} */


/* Local Storage Color Application Practice */

/* body {
    background-color: #eee;
}
ul {
    padding: 0;
    margin: 0;
    background-color: #ddd;
    margin: 20px auto;
    padding: 20px;
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
ul li {
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    opacity: 0.4;
    cursor: pointer;
    transition: 0.3s;
}
ul li.active,
ul li:hover {
    opacity: 1;
}
ul li:first-child {
    background-color: red;
}
ul li:nth-child(2) {
    background-color: green;
}
ul li:nth-child(3) {
    background-color: blue;
}
ul li:nth-child(4) {
    background-color: black;
}
.experiment {
    background-color: red;
    width: 600px;
    height: 300px;
    margin: 20px auto;
} */

/* .css{
    color : red;
} */

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
}
#users{
    max-width: 40rem;
}
#users li{
    background: #FFF;
    border: 1px solid #bbb;
    list-style: none;
    margin: 1rem;
    border-top-right-radius: 20px;
}
#users p{
    padding: 0.5rem 2rem;
}
#users .name{
    color: #000; 
    font-size: 2.0rem;
}
#users .info{
    background: #DDD;
    color: #666;
    font-size: 1.4rem;
} */

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}    
h1{
    margin: 2rem;
}
#container{
    margin: 2rem;
    display:flex;
    flex-flow: row wrap;
    height: 402px;
    width: 602px;
    border: 1px solid #333;
}
.hour{
    width:100px;
    height: 100px;
    padding: 10px;
    border: 1px solid #333;
    font-size: 3.6rem;
    position: relative;
}
.hour span{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: #AAA;
    font-size: 1.0rem;
    text-align: center;
}
.precip{
    background-color: hsl(200, 50%, 80%);
    color: hsl(200, 50%, 40%);
}
.hot{
    background-color: gold;
    font-weight: bold;
} */

/* h1{
    text-align: center;  
}
p.img{
    min-height: 310px;
    max-width: 600px;
    margin: 1rem auto;
    text-align: center;
    font-size: 3rem;
    color: #FFF;
    text-shadow: 2px 2px 2px #333;
    padding-top:3rem;
    background-image: url('https://picsum.photos/g/500/300?image=0&blur');
    background-color: #999;
    background-repeat: no-repeat;
    background-size: cover;
}
.img.online{
    background-image: url('https://picsum.photos/500/300?image=0');
    background-repeat: no-repeat;
    background-size: cover;
} */

/* section{
    border: 1px solid #aaa;
    padding: 1rem;
    font-family: "andale mono", sans-serif;
}
p{
    padding: 1rem;
    cursor: pointer;
    border: 2px solid #000;
}
div{
    float: left;
    overflow: auto;
    box-sizing: border-box;
    width: 50%;
    border: 1px solid #aaa;
    padding: 1rem;
    font-family: "andale mono", sans-serif;
}
.enter{
    background-color: rebeccapurple;
    color: white;
}
.over{
    background-color: #bada55;
    color: #333;
}
.blue{
    background-color: cornflowerblue;
} */

/* input{
margin: 1rem;
min-width: 80%;
max-width: 100%;
padding: 0.25rem 1rem;
}
section{
clear:both;
padding: 1rem;
margin: 1rem 0;
}
div{
float: left;
overflow: auto;
box-sizing: border-box;
width: 50%;
border: 1px solid #aaa;
padding: 1rem;
font-family: "andale mono", sans-serif;
}
.in-out{
background-color: chocolate;
color: white;
}
.focus-blur{
background-color: thistle;
color: #333;
}
.blue{
background-color: cornflowerblue;
} */

/* p{
    padding: 1rem;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: "andale mono", sans-serif;
    background-color: rebeccapurple;
    color: white;
} */

/* h1::after {
    display:block;
    content: attr(data-time);
    background-color: #bada55;
    padding: 1rem;
} */

/* Singel Page Application  */
/**** DEFAULTS ****/

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;  
    line-height: 1.6;
    font-family: sans-serif; 
}

.page{
    display: none;
    width: 100%;
    min-height: 100%; 
    position: fixed;  
    padding: 1rem 2rem;
}
.active{
    display: block; 
}
#home{
    background-color: hsl(60, 50%, 80%);
}
#list{
    background-color: hsl(180, 50%, 80%);
}
#detail{
    background-color: hsl(240, 50%, 80%);
}
h1{
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.4s;
}
.big{
    font-size: 5rem;
    font-weight: 900;
} */


/* 
html{
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
h1, p{
    padding: 1rem 2rem;
}
p:nth-of-type(1){
    cursor: pointer;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);  
    cursor: pointer;
}
.modal{
    position: fixed;
    top: 20%;
    right: 20%;
    left: 20%;
    min-height: 10rem;
    max-width: 800px;
    z-index: 200;
    background: white;
    padding: 1rem 2rem 3rem 2rem;
    box-shadow: 2px 2px 2px rgb(0,0,0);
    transition: transform 1s;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.off{
    transform: translateY(-200%);
}
.on{
    transform: translateY(0);
}
.close-btn{
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    border: none;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    padding: 0.25rem 2rem;
    font-size: 1rem;
} */

/* Slide Show */
/* html{
    font-size: 20px;
    line-height: 1.6;
    font-family: sans-serif;
}
body>h1{
    padding: 1rem 2rem;
}
main{
    padding: 1rem 2rem;
}
.slideshow{
    background-color: #eee;
    width: 100%;
    height: 12rem;
    position: relative;
    padding: 1rem;
}
.slideshow .content{
    width: 100%;
}
.slideshow-item{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 4rem;
    
    transition: all 0.5s;
    transform: translateX(100%);
    z-index: 10;
    opacity: 0;
}
.current{
    transform: translateX(0);
    z-index: 20;
    opacity: 1;
}
.leaving{
    transform: translateX(-100%);
    opacity: 0;
}

.slideshow-item:nth-child(1){
    background-color: hsl(60, 40%, 80%);
}
.slideshow-item:nth-child(2){
    background-color: hsl(120, 40%, 80%);
}
.slideshow-item:nth-child(3){
    background-color: hsl(180, 40%, 80%);
}
.slideshow-item:nth-child(4){
    background-color: hsl(240, 40%, 80%);
}
.slideshow-item:nth-child(5){
    background-color: hsl(300, 40%, 80%);
}
.slideshow-item:nth-child(6){
    background-color: hsl(360, 40%, 80%);
}
.slideshow img{
    float:left;
    margin: 0 1rem 0 0;
}
.slideshow h1{
    font-size: 3rem;
    line-height: 4rem;
}
.slideshow p{
    font-size: 1rem;
    line-height: 1.5;
    height: 4.5rem;
    overflow: hidden;
} */

/* 
html{
    font:normal 20px/1.5 sans-serif;
}
h1{
    margin: 1rem 2rem;
}
form{
    margin: 2rem;
    width: 800px;
}
.form-box{
    padding: 1rem;
    clear: both;
    width: 100%;
    position: relative;
}
.form-box label{
    font-size: 1rem;
    float: left;
    width: 100px;
    margin-right: 20px;
}
.form-box input{
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}
.form-box select{
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}
.form-box option{
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}
.form-box input[type="checkbox"]{
    font-size: 1rem;
}
.form-box button{
    font-size: 1rem;
    border: none;
    padding: 0.25rem 2rem;
    margin-right: 1rem;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
}

.error::after{
    background-color: hsl(10, 60%, 50%);
    color: papayawhip;
    font-size: 1rem;
    line-height: 1.8;
    width: 350px;
    padding-left: 1rem;
    position:absolute;
    right: 0;
    content: attr(data-errormsg);
}
 */

/* section{
    width: 400px;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: 1px solid #aaa;
    font: 1rem/1.5 sans-serif;
}
h1{
    padding: 1rem;
    border-bottom: 0.5rem solid #aaa;
    letter-spacing: 3px;
}

[lang]{
    unicode-bidi: bidi-override;
    direction:ltr;
}
[lang="ar"]{
    direction: rtl;
} */

/* .temp{
    background-color: cornflowerblue;
    color: #fff;
}
.box{
    border: 1px solid #bbb;
    padding: 1rem;
    max-width: 400px;
} */

/* html{
    font: 500 20px/1.5 'Open Sans', 'Gill Sans', Verdana, sans-serif;
}
header{
    padding: 1rem 2rem 0.5rem;
    border-bottom: 1rem solid #779;
    background-color: #dde;
}
main{
    padding: 2rem 2rem 1rem;
    font-size: 1rem;
}
h1{
    font-size: 3rem;
    font-family: Palatino, Garamond, serif;
}
h2{
    font-size: 2rem;
    font-family: Palatino, Garamond, serif;
}

.tab-nav{
    border-bottom: 1px solid #779;
}
.tab-menu{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.2rem;
}
.tab{
    list-style: none;
    font-size: 1.2rem;
    padding: 0 2rem 0.2rem;
}
.tab.active,
.tab:hover{
    color: rebeccapurple;
    padding-bottom: 0;
    border-bottom: 0.2rem solid rebeccapurple;
}

.tab-content{
    display: none;
}
.tab-content.active{
    display:block;
} */

/* html{
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.6;
    background-color: white;
}
main{
    display: flex;
    justify-content: space-around;
}
.page{
    display: block;
    padding: 1rem;
    margin: 1rem;
    background-color: #dedede;
}
h1{
    padding:0.5rem 2rem;
}
#detail h1{
    cursor: pointer;
}
.person{
    list-style: none;
    border-top: 1px solid #999;
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.person:hover,
.person.active{
    background-color: aliceblue;
}
.person:last-child{
    border-bottom: 1px solid #999;
}

.details{
    list-style: none;
    padding: 0.2rem 1rem 1.2rem 1rem;
    margin: 0.5rem 1rem 0.8rem;
}
.lastAccess{
    color:lightskyblue;
}
.avatar{
    
}
.name{
    
}
.isMobile{
    
} */

/* .first{
    font-size: 0.7rem;
    font-family: sans-serif;
}
.second{
    font-family: monospace;
    font-weight: 700;
}
.second::before{
    content: attr(data-sample) " " "\0026" " ";
    color: red;
    font-variant: small-caps;
}
.third{
    color: #fff;
    background-color: rebeccapurple;
} */

/* html{
    font-size: 20px;
    line-height: 1.5;
    font-family: sans-serif;
}
header{
    min-height: 5rem;
    border-bottom:1px solid #333;
    position: fixed;
    width: 100%;
    background-color: #e4e4e4;
    top:0;
    left:0;
    right:0;
}
header>h1{
    min-height: 4rem;
    line-height: 4rem;
    font-size: 3rem;
    text-align: center;
}
header>.bar{
    height:0.2rem;
    margin-top: 0.8rem;
    padding:0 0 0 0;
    width: 0;
    background-color:cornflowerblue;
    outline: 2px solid rgba(0, 50, 70, 0.2);
}
main{
    min-height: 100vh;
    margin-top: 6rem;
    padding: 2rem 1rem;
} */

/* body{
    min-height: 100vh;
} */

/* section{
    position:relative;
}
#main .chart{
    width:0;
    height:0;
    position: relative;
    border: 100px solid cornflowerblue;
    border-radius: 50%;
}
#main .cover-under50{
    position:absolute;
    z-index: 10;
    border: 20px solid rgba(199,199,199,0.8);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    left:-100px;
    top:-100px;
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    transform: rotate(180deg); 
}
#main .cover-over50{
    position:absolute;
    z-index: 30;
    border: 20px solid rgba(199,199,199,0.8);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    left:-100px;
    top:-100px;
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    transform: rotate(0deg);
}
#main .fill-over50{
    position:absolute;
    z-index: 20;
    border: 20px solid cornflowerblue;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    left:-100px;
    top:-100px;
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    transform: rotate(0deg);
}
#main .info{
    width: 160px;
    height: 160px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    z-index: 60;
    font-size: 3rem;
    line-height: 10rem;
    font-family: sans-serif;
    text-align: center;
    top: -80px;
    left: -80px;
}
#main .info::after{
    content: '%';
}


#alt{
    margin-top: 4rem;
}
#alt .chart{
    width:0;
    height:0;
    position: relative;
    border: 100px solid cornflowerblue;
    border-radius: 50%;
}
#alt .cover-under50{
    position:absolute;
    z-index: 10;
    border: 20px solid #999;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    top: 0;
    left: 200px;
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    transform: rotate(-180deg); 
}
#alt .cover-over50{
    position:absolute;
    z-index: 30;
    border: 20px solid #999;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    top: 0;
    left: 400px;
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    transform: rotate(0deg);
}
#alt .fill-over50{
    position:absolute;
    z-index: 20;
    border: 20px solid cornflowerblue;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    top: 0;
    left: 600px;
    -webkit-clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    transform: rotate(0deg); 
} */

/* .rate {
    margin:20px auto;
    width: 300px;
}
.rate .filled {
    color: #ffc107;
}
.rate i {
    cursor: pointer;
} */

/* .star{
    color: goldenrod;
    font-size: 2.0rem;
    padding: 0 1rem; 
}
.star::before{
content: '\2606';   
cursor: pointer;
}
.star.rated::before{
content: '\2605'; 
}

.stars{
    counter-reset: rateme 0;   
    font-size: 2.0rem;
    font-weight: 900;
}
.star.rated{
    counter-increment: rateme 1;
}
.stars::after{
    content: counter(rateme) '/5';
} */